:root {
  --font-family: "Inter", sans-serif;
  --txtcolor: #5a5b75;
  --title-color: #4a4b65;
  --paragraphcolor: #9e9fb4;
  --btnbgcolor: #766df4;
  --btncolor: #16c995;
  --btncolor-hover: #5549f1;
  --background-hover: #12a77b;
  --icon-color: #6c6d89;
  --border-color: #e5e5ef;
}

* {
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
  outline: none;
  transition: 0.2s ease;
  font-size: 16px;
}
p {
  font-size: 14px;
  color: var(--paragraphcolor);
}
.title {
  font-size: 40px;
  color: var(--title-color);
  text-align: center;
  font-weight: 600;
}
.container {
  width: 100%;
  max-width: 1250px;
  margin: 0 auto;
}
.btn {
  display: inline-block;
  font-weight: 500;
  line-height: 1.5;
  color: #fff;
  text-align: center;
  background-color: var(--btnbgcolor);
  border: 1px solid transparent;
  padding: 9px 20px;
  border-radius: 12px;
  width: 140px;
}
.btn:hover {
  background-color: var(--btncolor-hover);
}
/* HEADER START*/
.header {
  padding: 15px 12px;
  display: flex;
  align-items: center;
  position: sticky;
}
.header-logo {
  cursor: pointer;
  max-width: 100%;
  height: 55px;
  padding-right: 8px;
  margin-right: 24px;
}
.navbar-link {
  color: var(--txtcolor);
  padding: 14px 18px;
  font-weight: 500;
}
.navbar-link:hover {
  color: var(--btnbgcolor);
}
.navbar-menu .active {
  color: var(--btnbgcolor);
}
.header-tools {
  display: flex;
  margin-left: auto;
  align-items: center;
}
.social-icons i {
  margin-right: 8px;
  color: var(--icon-color);
  display: inline-block;
  width: 36px;
  height: 36px;
  padding: 0;
  border: 1px solid var(--border-color);
  transition: border-color 0.25s ease-in-out, background-color 0.25s ease-in-out,
    color 0.25s ease-in-out;
  border-radius: 8px;
  font-size: 15px;
  text-align: center;
  line-height: 34px;
}

.search-icon {
  width: 44px;
  height: 44px;
  line-height: 34px;
  text-align: center;
  margin-right: 16px;
  color: var(--icon-color);
  cursor: pointer;
}
.divider {
  height: 28px;
  width: 1px;
  background-color: var(--border-color);
  margin-right: 16px;
}
.icon-item {
  cursor: pointer;
}
.fa-facebook-f:hover {
  background-color: #3b5998;
  color: #fff;
}
.fa-twitter:hover {
  background-color: #1da1f2;
  color: #fff;
}
.fa-instagram:hover {
  background-color: #5851db;
  color: #fff;
}
.fa-pinterest-p:hover {
  background-color: #bd081c;
  color: #fff;
}
/* !HERO */
.hero {
  position: relative;
  background-image: url(../images/hero/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover; /* Arka planın tüm alanı kaplamasını sağlar */
  background-position: center; /* Arka planı ortalar */
  display: flex;
  min-height: 60vh;
  padding: 96px 0px;
  height: auto;
}
.hero-container {
  display: flex;
  flex-direction: column;
  gap: 45px;
  justify-content: center;
}
.hero-title {
  color: var(--title-color);
  font-size: 47px;
  font-weight: 600;
  line-height: 1;
  max-width: 600px;
}
.hero-img {
  position: absolute;
  width: 280px;
  height: 220px;
  bottom: -50px;
}
/* FEATURE */
.feature {
  padding: 96px 15px;
}
.feature-divider {
  height: 15px;
  width: 1px;
  background-color: #dfdfec;
  margin: 0 10px;
}
.feature-item {
  width: 390px;
  position: relative;
  box-shadow: 0 0 0.625rem -0.1875rem rgba(0, 0, 0, 0.13);
}
.feature-image {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}
.feature-meta {
  display: flex;
  color: #797a95;
  margin-bottom: 16px;
}
.feature-title {
  font-size: 18px;
  color: var(--title-color);
  font-weight: 600;
}
.feature-content {
  padding: 24px;
}
.feature-title {
  padding-top: 4px;
  margin-bottom: 16px;
}
.feature-details {
  margin-bottom: 8px;
}
.featured-card {
  position: absolute;
  padding: 10px;
  background-color: var(--btncolor);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  top: 24px;
  right: 0;
  font-size: 16px;
  color: #fff;
  font-weight: 500;
}
.feature-image-wrapper {
  position: relative;
}
.image-card {
  display: none;
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 24px;
  transition: 0 0.25s ease-in-out;
  color: #fff;
  font-weight: 500;
}
.feature-item:hover .image-card {
  display: block;
}
.feature-item::before {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.2s ease-in-out;
  border: 1px solid rgba(118, 109, 244, 0.35);
  border-radius: 1rem;
  content: "";
  z-index: 3;
  opacity: 0;
}
