:root {
  --font-family: "Inter", sans-serif;
  --txtcolor: #5a5b75;
  --title-color: #4a4b65;
  --paragraphcolor: #9e9fb4;
  --btnbgcolor: #766df4;
  --btncolor: #16c995;
  --btncolor-hover: #5549f1;
  --background-hover: #12a77b;
  --icon-color: #6c6d89;
  --border-color: #e5e5ef;
}

* {
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
  outline: none;
  transition: 0.3s ease;
  font-size: 16px;
}
p {
  font-size: 14px;
  color: var(--paragraphcolor);
}
.title {
  font-size: 40px;
  color: var(--title-color);
  text-align: center;
  font-weight: 600;
  margin-bottom: 12px;
}
.container {
  width: 100%;
  max-width: 1250px;
  margin: 0 auto;
}
.btn {
  display: inline-block;
  font-weight: 500;
  line-height: 1.5;
  color: #fff;
  text-align: center;
  background-color: var(--btnbgcolor);
  border: 1px solid transparent;
  padding: 9px 20px;
  border-radius: 12px;
  width: max-content;
}
.btn:hover {
  background-color: var(--btncolor-hover);
}
/* HEADER START*/
.header {
  padding: 15px 12px;
  display: flex;
  align-items: center;
  position: sticky;
}
.header-logo {
  cursor: pointer;
  max-width: 100%;
  height: 55px;
  padding-right: 8px;
  margin-right: 24px;
}
.navbar-link {
  color: var(--txtcolor);
  padding: 14px 18px;
  font-weight: 500;
}
.navbar-link:hover {
  color: var(--btnbgcolor);
}
.navbar-menu .active {
  color: var(--btnbgcolor);
}
.header-tools {
  display: flex;
  margin-left: auto;
  align-items: center;
}
.social-icons i {
  margin-right: 8px;
  color: var(--icon-color);
  display: inline-block;
  width: 36px;
  height: 36px;
  padding: 0;
  border: 1px solid var(--border-color);
  transition: border-color 0.25s ease-in-out, background-color 0.25s ease-in-out,
    color 0.25s ease-in-out;
  border-radius: 8px;
  font-size: 15px;
  text-align: center;
  line-height: 34px;
}

.search-icon {
  width: 44px;
  height: 44px;
  line-height: 34px;
  text-align: center;
  margin-right: 16px;
  color: var(--icon-color);
  cursor: pointer;
}
.divider {
  height: 28px;
  width: 1px;
  background-color: var(--border-color);
  margin-right: 16px;
}
.icon-item {
  cursor: pointer;
}
.fa-facebook-f:hover {
  background-color: #3b5998;
  color: #fff;
}
.fa-twitter:hover {
  background-color: #1da1f2;
  color: #fff;
}
.fa-instagram:hover {
  background-color: #5851db;
  color: #fff;
}
.fa-pinterest-p:hover {
  background-color: #bd081c;
  color: #fff;
}
/* !HERO */
.hero {
  position: relative;
  background-image: url(../images/hero/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover; /* Arka planın tüm alanı kaplamasını sağlar */
  background-position: center; /* Arka planı ortalar */
  display: flex;
  min-height: 60vh;
  padding: 96px 0px;
  height: auto;
}
.hero-container {
  display: flex;
  flex-direction: column;
  gap: 45px;
  justify-content: center;
  padding: 0 15px;
}
.hero-title {
  color: var(--title-color);
  font-size: 47px;
  font-weight: 600;
  line-height: 1;
  max-width: 600px;
}
.hero-img {
  position: absolute;
  width: 280px;
  height: 220px;
  bottom: -50px;
}
/* FEATURE */
.feature {
  padding: 96px 15px;
}
.progress {
  margin-bottom: 16px;
  display: flex;
  justify-content: flex-end;
}
.progress-container {
  width: 100%;
  max-width: 175px;
  height: 5px;
  background-color: #ddd;
  border-radius: 10px;
  position: relative;
  margin-top: 10px;
}

.progress-bar {
  width: 30%;
  height: 100%;
  background-color: var(--btnbgcolor);
  border-radius: 10px;
}

.progress-text {
  font-size: 16px;
  color: var(--paragraphcolor);
  position: absolute;
  top: -40px;
  right: 73px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center; /* Metni yatay ortalamak için */
}
.feature-divider {
  height: 15px;
  width: 1px;
  background-color: #dfdfec;
  margin: 0 10px;
}
.feature-item {
  cursor: pointer;
  width: 390px;
  position: relative;
  box-shadow: 0 0 0.625rem -0.1875rem rgba(0, 0, 0, 0.13);
}
.feature-image {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}
.feature-meta {
  display: flex;
  color: #797a95;
  margin-bottom: 16px;
}
.feature-title {
  font-size: 18px;
  color: var(--title-color);
  font-weight: 600;
}
.feature-content {
  padding: 24px;
}
.feature-title {
  padding-top: 4px;
  margin-bottom: 16px;
}
.feature-details {
  margin-bottom: 8px;
}
.featured-card {
  position: absolute;
  padding: 10px;
  background-color: var(--btncolor);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  top: 24px;
  right: 0;
  font-size: 16px;
  color: #fff;
  font-weight: 500;
  z-index: 4;
}
.dessert {
  background-color: #ffb15c;
}
.soups {
  background-color: #6a9bf4;
}
.feature-image-wrapper {
  position: relative;
}
.image-card {
  display: none;
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 24px;
  transition: 0 0.25s ease-in-out;
  color: #fff;
  font-weight: 500;
}
.feature-item:hover .image-card {
  display: block;
}

.feature-item::before {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.2s ease-in-out;
  border: 1px solid rgba(118, 109, 244, 0.35);
  border-radius: 1rem;
  content: "";
  z-index: 3;
  opacity: 0;
}
.featured {
  display: flex;
  justify-content: space-between;
}
.arrow {
  width: 44px;
  height: 44px;
  margin-right: 12px;
  color: #737491;
  border: 1px solid #e9e9f2;
  text-align: center;
  border-radius: 12px;
  font-size: 16px;
  line-height: 44px;
  padding: 12px;
  cursor: pointer;
}
.arrow-navigation {
  display: flex;
  padding-top: 28px;
  justify-content: flex-end;
  text-align: center;
}
.arrow-list:hover .arrow {
  border: 1px solid rgba(115, 116, 145, 0.5);
}
/* Book Section Start */
.book-section {
  display: flex;
  padding: 50px 15px;
  padding-bottom: 0;
}
.book-promo {
  display: flex;
  gap: 55px;
  background-color: #f4f4f6;
  width: 50%;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  padding: 8px 48px;
  align-items: center;
}
.book-title {
  font-size: 32px;
  color: var(--title-color);
  font-weight: 500;
  padding-bottom: 30px;
}
.newsletter-subscribe {
  background-color: rgba(118, 109, 244, 0.08);
  width: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
.newsletter-title {
  font-size: 32px;
  color: var(--title-color);
  margin-bottom: 8px;
}
.newsletter-text {
  font-size: 16px;
  color: var(--title-color);
  font-weight: 400;
  padding-bottom: 8px;
  margin-bottom: 24px;
}

.subscribe-form {
  position: relative;
  width: 87%; /* İçinde bulunduğu divin tamamını kaplar */
}

.email-input {
  padding: 9px 18px;
  border-top-left-radius: 12px; /* Sağ üst köşeyi yuvarla */
  border-bottom-left-radius: 12px; /* Sağ alt köşeyi yuvarla */
  font-weight: 400;
  line-height: 1.5;
  color: #737491;
  border: 1px solid #dfdfeb;
  padding-right: 44px;
  width: 87%;
  box-sizing: border-box;
  box-shadow: 0 0 0 0 transparent;
  transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}
.email-input:focus {
  outline: none;
  border-color: rgba(160, 128, 249, 0.6);
  box-shadow: 0 0 2px rgba(160, 128, 249, 0.4);
}

.submit-icon {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 60px;
  background-color: var(--btncolor);
  color: white;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.submit-icon:hover {
  background-color: var(--background-hover);
}
/* CATEGORİES */
.categories {
  padding: 96px 15px;
}
.categories .title {
  padding-bottom: 16px;
  margin-bottom: 24px;
}
.categories-list {
  display: flex;
  justify-content: space-between;
  padding-top: 24px;
}
.categories-item {
  text-align: center;
  cursor: pointer;
}
.categories-item:hover .categories-name {
  color: var(--btnbgcolor);
}
.categories-image {
  width: 80px;
  height: 80px;
  margin-bottom: 24px;
}
.categories-name {
  color: var(--txtcolor);
  font-size: 16px;
  font-weight: 500;
}
/* !POST INGREDİENTS  */
.post {
  display: flex;
  gap: 40px;
}
.post-item {
  display: flex;
  position: relative;
  border-radius: 16px;
  border: 1px solid rgba(0, 0, 0, 0.085);
  width: 920px;
  height: 270px;
  cursor: pointer;
}
.post-image-wrapper {
  position: relative;
  width: 390px;
  height: 100%;
  overflow: hidden;
}

.post-image {
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.post-video-play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.post-video-play-button:hover .fa-play {
  color: var(--btnbgcolor);
}
.post-video-play-button i {
  color: var(--icon-color);
  font-size: 15px;
}
.post-content {
  display: flex;
  padding: 32px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 55%;
}
.post-item:hover {
  border-color: rgba(160, 128, 249, 0.4);
  box-shadow: 0 0 2px rgba(160, 128, 249, 0.4);
}
.post-featured {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 920px;
}
.post-card {
  position: absolute;
  padding: 10px;
  background-color: #f74f78;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  top: 24px;
  left: 0;
  font-size: 16px;
  color: #fff;
  font-weight: 500;
  z-index: 4;
}
.dessert-card {
  background-color: #ffb15c;
}
.vegetarian-card {
  background-color: #16c995;
}
.healty-card {
  background-color: var(--btnbgcolor);
}
.soups-card {
  background-color: #6a9bf4;
}

.post-duration {
  color: var(--paragraphcolor);
}
.post-title {
  font-size: 22px;
  color: var(--title-color);
  font-weight: 600;
  margin-bottom: 16px;
}
.post-title:hover {
  color: var(--btnbgcolor);
}
.post-details {
  margin-bottom: 16px;
  line-height: 1.5;
  font-weight: 400;
}
.post-date,
.post-comments {
  font-size: 12px;
  color: #797a95;
}
.post-history {
  display: flex;
  margin-left: auto;
}
.post-divider {
  height: 15px;
  width: 1px;
  background-color: #dfdfec;
  margin: 0 10px;
}

.post-meta {
  padding-bottom: 4px;
  margin-bottom: 8px;
}
.pagination-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Arial, sans-serif;
  margin: 20px 0;
}

.pagination-info {
  display: flex;
  align-items: center;
}

.pagination-label,
.pagination-text {
  color: #737491;
  margin-right: 8px;
}

.pagination-dropdown {
  position: relative;
  display: inline-block;
  margin-right: 15px;
}

.pagination-select {
  padding: 5px 10px;
  border: 1px solid #dfdfeb;
  border-radius: 8px;
  color: #737491;
  background-color: #fff;
}

.pagination-controls {
  display: flex;
  align-items: center;
}

.pagination-arrow,
.pagination-page {
  background-color: transparent;
  padding: 5px 10px;
  border-radius: 8px;
  margin: 0 5px;
  color: #737491;
  cursor: pointer;
  border: 1px solid transparent;
  font-size: 14px;
}

.pagination-arrow:hover,
.pagination-page:hover {
  color: #4a4ad9;
}

.pagination-page.active {
  border: 1px solid #dfdfeb;
  border-color: #d3d0f7;
  color: #4a4ad9;
}

.pagination-dots {
  margin: 0 5px;
  color: #737491;
}
/* ingredients */
.ingredients-section {
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.ingredients-title {
  font-size: 18px;
  color: var(--title-color);
  margin-bottom: 20px;
  line-height: 1.3;
  font-weight: 600;
}
.ingredients-item {
  display: flex;
  padding: 4px;
  cursor: pointer;
}
.ingredients-item:hover .ingredient-link,
.ingredients-item:hover .ingredients-icon {
  color: var(--btnbgcolor);
}
.ingredients-icon {
  color: var(--paragraphcolor);
  height: 30px;
  width: 20px;
  margin-top: 2px;
}
.ingredient-link {
  font-size: 16px;
  color: var(--txtcolor);
}
.ingredient-quantity {
  font-size: 12px;
  color: var(--paragraphcolor);
  padding-left: 12px;
  margin-top: 4px;
}
.recipe-card {
  display: flex;
  gap: 12px;
  margin-bottom: 20px;
  cursor: pointer;
}
.recipe-image {
  border-radius: 12px;
  width: 64px;
  height: 64px;
}
.recipe-title {
  color: var(--title-color);
  font-size: 15px;
  font-weight: 500;
  line-height: 1.5;
}
.recipe-title:hover {
  color: var(--btnbgcolor);
}
.recipe-author {
  font-size: 12px;
}
.tag-container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.tag {
  color: #737491;
  padding: 6px 12px;
  border: 1px solid #e9e9f2;
  border-radius: 8px;
  font-size: 13px;
  font-weight: 500;
  transition: border-color 0.25s ease-in-out, color 0.25s ease-in-out;
  white-space: nowrap;
}
.tag:hover {
  border: 1px solid rgba(115, 116, 145, 0.5);
  color: var(--icon-color);
}
/* VİDEO RECİPES */
.video-recipes {
  padding: 96px 15px;
}
.video-description {
  font-size: 16px;
  max-width: 600px;
  margin: 0 315px 48px 315px;
  text-align: center;
}
.video-recipes .title {
  padding-bottom: 12px;
}
.video-gallery {
  display: flex;
  gap: 20pxs;
}

.video-item {
  position: relative;
  border-radius: 16px;
  overflow: hidden;
  margin: 0 15px;
  width: 600px;
  height: auto;
  cursor: pointer;
}

.video-item img {
  width: 600px;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
}

.video-play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.video-play-button i {
  color: var(--icon-color);
  font-size: 24px;
}

.video-pagination {
  display: flex;
  margin-top: 25px;
  align-items: center;
  justify-content: center;
}

.dot {
  height: 6px;
  width: 6px;
  margin: 0 4px;
  background-color: var(--btnbgcolor);
  border-radius: 50%;
  display: inline-block;
  border: 1px solid transparent;
}

.dot.active {
  border: 2px solid var(--btnbgcolor);
  background-color: #fff;
  height: 12px;
  width: 12px;
}
.gallery-caption {
  display: none;
  position: absolute;
  left: 0;
  bottom: 5px;
  width: 100%;
  padding: 1rem 0.5rem;
  transform: translateY(0.5rem);
  color: #fff;
  font-size: 0.875rem;
  text-align: center;
  z-index: 5;
}
.video-item:hover .gallery-caption {
  display: block;
}
.video-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2); /* Gölgelendirme başlangıç */
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 1;
}

.video-item:hover::before {
  opacity: 1; /* Hover olduğunda gölgeyi göster */
  background-color: rgba(0, 0, 0, 0.4); /* Hover sırasında gölge daha koyu */
}
/* AUTHOR */
.author {
  padding-left: 15px;
  display: flex;
  gap: 130px;
}
.author-image {
  border-radius: 16px;
  width: 40%;
}
.author-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.author-name {
  font-size: 32px;
  color: var(--title-color);
  margin-bottom: 8px;
}
.author-title {
  font-size: 16px;
  color: var(--paragraphcolor);
  margin-bottom: 16px;
  font-weight: 600;
}
.author-description {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 32px;
}
/* INSTAGRAM */
.follow-instagram {
  padding: 96px 30px 48px 30px;
}
.instagram-heading {
  font-size: 32px;
  color: var(--title-color);
  text-align: center;
  margin-bottom: 48px;
}
.instagram-username {
  background-color: rgba(118, 109, 244, 0.08);
  font-size: 32px;
  color: var(--btnbgcolor);
  padding: 8px;
  border-radius: 12px;
}

.instagram-gallery {
  display: flex;
  gap: 30px;
}
.instagram-image {
  width: 280px;
  height: auto;
}
/* !FOOTER */
.footer {
  padding-top: 80px;
  background-color: #37384e;
}
.footer-title {
  font-size: 18px;
  margin-bottom: 20px;
  line-height: 1.35;
  color: #fff;
  font-weight: 600;
}
.footer-content {
  display: flex;
  justify-content: space-between;
}
.contact-item {
  display: flex;
  gap: 10px;
  align-items: center;
  color: rgba(255, 255, 255, 0.7);
  font-weight: normal;
  padding-bottom: 15px;
  cursor: pointer;
}
.contact-item:hover {
  color: #fff;
}
.footer .icon-item {
  color: #fff;
  display: inline-block;
  width: 44px;
  height: 44px;
  padding: 4px;
  border: 1px solid var(--icon-color);
  transition: border-color 0.25s ease-in-out, background-color 0.25s ease-in-out,
    color 0.25s ease-in-out;
  border-radius: 12px;
  font-size: 16px;
  text-align: center;
  line-height: 34px;
}

.footer .fa-facebook-f:hover {
  color: #3b5998;
  background-color: #fff;
  border: 1px solid transparent;
}
.footer .fa-twitter:hover {
  color: #1da1f2;
  background-color: #fff;
  border: 1px solid transparent;
}
.footer .fa-instagram:hover {
  color: #5851db;
  background-color: #fff;
  border: 1px solid transparent;
}
.footer .fa-pinterest-p:hover {
  color: #bd081c;
  background-color: #fff;
  border: 1px solid transparent;
}

.footer .subscribe-form {
  display: flex;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
  width: 400px;
}

.footer .input-container {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 0 15px;
  flex: 1;
  border-radius: 5px 0 0 5px;
}

.footer .input-icon {
  color: var(--paragraphcolor);
  font-size: 16px;
  margin-right: 8px;
}

.footer .email-input {
  border: none;
  outline: none;
  padding: 10px;
  flex: 1;
  border-radius: 15px 0 0 15px;
  font-size: 14px;
  color: var(--paragraphcolor);
}
.footer .email-input::placeholder {
  color: var(--paragraphcolor);
}

.footer .btn {
  transition: background-color 0.3s;
  padding: 7.5px 20px;
  border-radius: 0 10px 10px 0;
}
.subscribe-text {
  font-size: 12px;
  margin-top: 6px;
}
.subscribe {
  max-width: 380px;
}
.footer-info {
  padding: 60px 0 32px 0;
}
.footer-copyright {
  font-weight: 500;
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
}
.footer-copyright-link {
  color: rgba(255, 255, 255, 0.7);
  font-weight: 500;
}
.gotoback {
  position: fixed;
  width: 44px;
  height: 44px;
  border-radius: 12px;
  background-color: rgba(55, 56, 78, 0.25);
  color: #fff;
  bottom: 40px;
  right: 50px;
  text-align: center;
  line-height: 40px;
  transition: background-color 0s ease, color 0.3s ease;
}
.top {
  color: rgba(55, 56, 78, 0);
  position: absolute;
  top: 50%;
  right: 100%;
  transform: translateY(-50%);
  transition: opacity 0.25s ease-in-out, visibility 0.25s ease-in-out;
  padding-right: 20px;
}
.gotoback:hover {
  background-color: rgba(55, 56, 78, 0.5);
}
.gotoback:hover .top {
  color: rgba(55, 56, 78, 0.5);
}
